.scanlines {
    @apply absolute left-0 bottom-0 z-10 pointer-events-none;

    background:
        linear-gradient(
            transparent 50%,
            rgba(0, 255, 0, 0.03) 50%
        ),
        linear-gradient(
            90deg,
            transparent 50%,
            rgba(255, 0, 0, 0.01) 50%
        );
    background-size: 100% 0.5rem, 0.5rem 100%;
    animation: scanlines 0.1s linear infinite;
}

@keyframes scanlines {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0.5rem);
    }
}