<div id="coming-soon" class="h-screen bg-black flex justify-center items-center">
    <pre class="text-3xl text-lime-500">&gt;_ exec filoga.me<br>Command not found. Error message: coming_soon...</pre>
</div>