---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="coming-soon" class="h-screen bg-black flex justify-center items-center">
    <pre class="text-lime-500">Coming soon...</pre>
</div>