<div id="coming-soon" class="relative h-screen bg-black flex justify-center items-center">
    <pre class="absolute bottom-0 left-0 text-3xl text-lime-500 p-8">&gt;_ exec filoga.me<br>Command not found. Error message: coming_soon...</pre>
</div>